@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

html, body{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fbfbfb;
}

.help-block {
  color: #ff0000;
  font-size: 1.2rem;
}

.outlet-container {
  margin-top: 60px;
}

.text-center {
  text-align: center;
}